.main_body {
    background: white;
}

.website_title {
    font-family: Impact;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(90deg,#4F7FFF,#89caff 10% 90%,#4F7FFF);
    margin: 0;
}

.soccer_title {
    font-family: Arial;
    font-size: 30px;
    font-style:italic;
}

.soccer_results section{
    /*max-width: 500px;*/
}

.soccer_results h2 {
    text-align: center;
}

.soccer_results div{
    padding-left: 10%;
    display: inline-block;
    border: 5px solid black;
    text-align: left;
    width: 30%;
    height: 200px;
    font-size: 20px;
}

.left_result {
    background-color: white;
}

.right_result {
    background-color: grey;
}