.main_body {
    /*background: white;*/
    margin: 0;
}

.website_title {
    font-family: Impact;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(90deg,#001244,#005aa3 10% 90%,#001244);
    color: white;
    margin: 0;
    width: auto;
    height: 100px;
    text-shadow: 2px 0 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000, 0 -2px 0 #000000;
    vertical-align: middle;
}

.login-screen label{
    display: block;
}

.soccer_title {
    font-size: 40px;
    font-style:italic;
    text-align: center;
    font-weight: 800;
}

.soccer_results{
    /*max-width: 500px;*/
    font-family: Tangerine, serif;
    height: 1500px;
    width: auto;
    background-color: rgb(255, 255, 219);
    border: 5px solid black;
    /*padding: 20px;*/
    margin: 10px 10px;
    border-radius: 5px;
}

.left_result, .right_result {
    font-family: Tangerine, serif;
    width: 25%;
    height: 100px;
    border: 5px solid black;
    margin: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.left_result {
    background-color: white;
    
}

.right_result {
    background-color: grey;
}