.main_body {
    background: white;
    margin: 0;
}

.website_title {
    font-family: Impact;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(90deg,#001244,#005aa3 10% 90%,#001244);
    color: white;
    margin: 0;
    padding: 50px 0;
    text-shadow: 2px 0 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000, 0 -2px 0 #000000;
}

.login-screen label{
    display: block;
}

.soccer_title {
    font-family: Arial;
    font-size: 30px;
    font-style:italic;
}

.soccer_results section{
    /*max-width: 500px;*/
}

.soccer_results h2 {
    text-align: center;
}

.soccer_results div{
    padding: 50px 10%;
    display: inline-block;
    border: 5px solid black;
    text-align: left;
    width: 25%;
    height: 200px;
    font-size: 20px;
}

.left_result {
    background-color: white;
    float: left;
}

.right_result {
    background-color: grey;
    float: right;
}